.container {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  text-align: -webkit-center;
  position: relative;
  margin-top: 7vw;
}
.outer_border {
  border: 4px double #77bf27;
}

.title {
  text-align: center;
  color: #77bf27;
  font-weight: 500;
  padding: 1.5rem;
}

.square {
  position: absolute;
  transform: scale(0.5);
  bottom: 4rem;
  left: -2rem;
}
