.BalanceTransfer-section1-container
{
    height: 85rem;
}

.BalanceTransfer-section2-container
{
    height: 60rem;
}

.section2-container
{
    /* margin-top: 30px; */
    /* height: 50vh; */
}


@media only screen and (max-width: 1440px)  {
    .BalanceTransfer-section2-container
    {
        margin-top: 30px;
        height: 60rem;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1441px) {
    .BalanceTransfer-section2-container
    {
        margin-top: 15rem;
        height: 60rem;
    }
}