.btn-apply-modal {
  /* background-image: url("../images/btn_register.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  padding: 44px !important;
  padding-bottom: 0px !important;
}

/* .apply-btn{
  background-image:url('../images//applybtn_bg.png');
  background-repeat: no-repeat !important;
  background-size: contain;
  background-color: "#77BF27" ;
  width: "166px";
  height: "71px";
  font-size: "24px";
  font-weight: "bold";
}

.apply-btn:hover
{
  background-Color: "#707070"
} */
