
.banner-btn {
  text-align: right;
  margin-right: 14vw;
}

.banner-btn-apply {
  background-color: #212529;
  width: 180px;
  height: 70px;
  color: #f0b764;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 1.5rem;
  margin-top: 20px;
}

.banner-btn-apply:hover {
  color: white;
}


.banner-title {
  margin-top: 3rem;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius:50px;
  width: 600px;
  height: 500px;
  /* justify-content: center; */
  text-align: left;
  margin-left: 5vw;
}

.banner-title .header
{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 200px;
  color: #A2C43A;
  font-size: 2rem;
  letter-spacing: 6px;
  text-indent: 3px;
 
}

.banner-title .header .line {
  height: 1px;
  background: #77BF27;
  height: 3px;
  border-width: 1px;
  border-style: solid;
}


.banner-title h4 {
  display: inline-block;
  color: #A2C43A;
  font-size: 2rem;
  letter-spacing: 6px;
  text-indent: 3px;
}
.banner-title .body
{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  place-content: center;
}

.banner-title .body .item
{
  display: grid;
  width: 250px;
  justify-content: center;
  justify-items: center;
}

/* Mortgage Loan  */

.mortgage-banner-content .mortgage-banner-content-body
{
  display: flex;
  flex-direction: column;
}


.mortgage-banner-body-item
{
  margin-left: 3rem;
  width: 500px;
  margin-top: 2rem;
}

.mortgage-banner-body-item span
{
  margin-left: 1rem;
}


@media only screen and (max-width: 975px) {
  .banner-pic {
    width: 100%;
    height: 20vh;
  }
  .banner-btn-apply {
    display: none;
    top: 0;
  }

  .banner-container .top-space {
    height: 10px;
  }
  .banner-title {
    margin: 0;
  }
}
