.estimForm {
  /* width: 37%;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 200px 400px;
  grid-template-areas:
    "desc rule"
    "detail detail"; */
    padding: 1rem 3rem 3rem 3rem;
}


.estimForm1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.estimForm1 h2 {
  text-align-last: center;
  color: #77bf27;
  height: 61px;
  width: 265px;
}
.estimForm2 {
  grid-area: rule;
}
.estimForm3 {
  display: flex;
}

.estimForm3-left
{
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-rows: 70px 70px 70px ;
  grid-template-areas:
  "desc input"
  "desc input"
  "desc input";
  width: 50%;
}
.estimForm3-right
{
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-rows: 70px 70px 70px ;
  grid-template-areas:
    "desc input"
    "desc input"
    "desc input";
  width: 50%;
}

.estimForm3 fieldset {
  box-shadow: 2px 4px 6px 1px #afafaf;
}

.estimForm4 {
  display: flex;
}

.estimForm4 label
{
  width: 750px;
  color: #77bf27;
}

.estimForm-btn
{
  text-align-last: right;
}

.estimForm-label
{
  padding-top: 7px;
}




/* tablet */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .estimForm {
    width: unset;
  }
  .estim-submitbtn {
    align-self: center;
  }
}

/*************mobile start ***************/

.estimForm1-mob {
  text-align: center;
}

.estimForm3-mob {
  text-align: center;
  text-align: -webkit-center;
}
