.footer {
  /* position: absolute; */
  background-color: #EEEEEE;
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  
}

.footer-logo
{
  position: absolute;
  margin-top: 19rem;
}

.footer p,
.footer h5,
.footer a {
  color: "#444444" ; 
  text-decoration: none ;
  /* font-size: 1rem ;
  font-weight: 100 ; */
}

.footer-icon {  
  height: 12vh;
  margin-bottom: 2rem;
}

.footer-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 13vh 20vh 8vh;
  grid-template-areas:
    "space address detail"
    "space address detail"
    "note note note";
}

.ft1 {
  grid-area: space;
  display: flex;
}

.ft1 a
{
  color: #444444;
}

.ft1 .ft1-loanservices a, .ft1 .ft1-commonLink1 a
{
  font-size:x-large;
}

.ft2 {
  grid-area: address;
  display: flex;
  flex-direction: column;
}

.ft2 P,.ft2 span {
  font-size:larger;
}



.ft2 a {
  text-decoration: none;
  color: #444444;
}

.ft3 {
  grid-area: detail;
}
.ft3.a {
  line-height: 1rem;
}

.ft4 {
  grid-area: note;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ft4 p 
{
  font-size: larger;
}

.ft5 {
  grid-area: address;
}
.ft6 {
  grid-area: license;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/**********mobile start************/
.footer-container-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.footer-contact-mob {
  text-align: center;
}
.footer-link-mob {
  display: flex;
}
.footer-link-mob > div {
  padding: 20px;
}
.footer-header-mob {
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: #dac99c 1px solid;
  text-align: center;
}

.footer-statement {  
  /* font-size: 12px; */
}
@media only screen and (max-width: 600px) {
  .footer p,
  .footer h5,
  .footer a {
    color: #dac99c;
    text-decoration: none;
    font-size: 12px;
  }
  .footer-statement {
    text-align: center;
  }
}
@media only screen and (max-width: 1212px) {
  .footer {
    height: fit-content;
    padding-bottom: 100px;
  }
  .footer-statement {
    text-align: center;
  }
}
