.footer a:hover {
  color: #c8c7c7;
}

.footer {
  /* position: absolute; */
  background-color: #eeeeee;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 230px;
  position: absolute;
  bottom: 50px;
}

.footer p,
.footer h5,
.footer a {
  color: '#444444';
  text-decoration: none;
  /* font-size: 1rem ;
  font-weight: 100 ; */
}

.footer-icon {
  height: 12vh;
  margin-bottom: 2rem;
}

.footer-container {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 30vw 24vw 30vw;
  grid-template-rows: 13vh 29vh 8vh;
  grid-template-areas:
    'space address detail'
    'space address detail'
    'note note note';
  position: relative;
}

.ft1 {
  grid-area: space;
  display: flex;
  justify-self: self-end;
}

.ft1 a {
  color: #444444;
}

.ft1 .ft1-loanservices a,
.ft1 .ft1-commonLink1 a {
  font-size: 1rem;
  font-family: 'pingfangBold' !important;
}

.ft1 .ft1-commonLink2 a {
  font-size: 0.7rem;
}

.ft2 {
  grid-area: address;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.ft2 span {
  font-size: 1rem;
}

.ft2 a {
  text-decoration: none;
  color: #444444;
}

.ft3 {
  grid-area: detail;
}
.ft3.a {
  line-height: 1rem;
}

.ft3 p {
  font-size: 0.7rem;
}

.ft4 {
  grid-area: note;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ft4 p {
  font-size: larger;
}

.ft5 {
  grid-area: address;
}
.ft6 {
  grid-area: license;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/**********mobile start************/
.footer-container-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.footer-contact-mob {
  text-align: center;
}
.footer-link-mob {
  display: flex;
}
.footer-link-mob > div {
  padding: 20px;
}
.footer-header-mob {
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: #dac99c 1px solid;
  text-align: center;
}

.footer-statement {
  /* font-size: 12px; */
}
@media only screen and (max-width: 600px) {
  .footer p,
  .footer h5,
  .footer a {
    color: #dac99c;
    text-decoration: none;
    font-size: 12px;
  }
  .footer-statement {
    text-align: center;
  }
}
@media only screen and (max-width: 1212px) {
  .footer {
    height: fit-content;
    padding-bottom: 100px;
  }
  .footer-statement {
    text-align: center;
  }
}
