.navbar-container {
  color: white;
  z-index: 99 !important;
  position: fixed;
  width: 100%;
  transition: 0.5s ease-in-out;
  /* margin-top: 10px; */  
}

.nav-link a{
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.hotline {
  text-decoration: none !important;
  color: inherit;
}
.hotline:hover {
  color: inherit;
}

.nav-text a {
  margin-left: 2em;
  margin-right: 2em;

  align-self: center;
  text-decoration: none !important;
  color: inherit;
  transition: 0.3s;

  color: black !important;
}
.nav-text a:hover {
  color: grey !important;
}

.dropdown-menu .dropdown-item:hover {
  color: white !important;
}

.nav-logo {
  width: 300px;
}

.apply-btn {
  cursor: pointer;
}
.btn-small {
  width: 100px;
}

.dropdown-item {
  margin: 0 !important;
}
.dropdown-menu {
  background-color: #212529 !important;
}

.dropdown-item:hover {
  background-color: rgb(143, 143, 143);
}

@media only screen and (max-width: 990px) {
  .nav-logo-group {
    display: flex;
    align-items: flex-end;
  }
  #nav-dropdown-service {
    text-align: center;
  }

  .nav-item div {
    text-align: center;
  }

  .dropdown-divider {
    border-top: 1px solid rgb(255 255 255 / 57%);
    margin: 1rem 0;
  }
  .nav-text a:nth-last-child(1) {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .nav-logo {
    width: 100px;
  }
}
