
.banner-btn {
  text-align: right;
  margin-right: 14vw;
}

.banner-btn-apply {
  background-color: #212529;
  width: 180px;
  height: 70px;
  color: #f0b764;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 1.5rem;
  margin-top: 20px;
}

.banner-btn-apply:hover {
  color: white;
}

.banner-pic {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 70vh;

}

.banner-title {
  background-color: #00000059;
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 10vw;
}

.banner-title span {
  color: #f0b764;
  font-size: 2rem;
  letter-spacing: 6px;
  text-indent: 3px;
}

@media only screen and (max-width: 975px) {
  .banner-pic {
    width: 100%;
    height: 20vh;
  }
  .banner-btn-apply {
    display: none;
    top: 0;
  }

  .banner-container .top-space {
    height: 10px;
  }
  .banner-title {
    margin: 0;
  }
}
