.footer {
    /* position: absolute; */
    background-color: #333332;
    width: 100%;
    height: 90vh;
  
    display: flex;
    justify-content: center;
    
  }
  
  .footer p,
  .footer h5,
  .footer a {
    color: #dac99c;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .footer-icon {  
    height: 12vh;
    margin-bottom: 2rem;
  }
  
  .footer-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 13vh 12vh 8vh;
    grid-template-areas:
      "icon space detail"
      "tel space license"
      "address space license";
  }
  
  .ft1 {
    grid-area: icon;
  }
  .ft2 {
    grid-area: space;
    display: flex;
  }
  .ft2 a {
    text-decoration: none;
    color: #dac99c;
  }
  
  .ft3 {
    grid-area: tel;
  }
  .ft3.a {
    line-height: 1rem;
  }
  
  .ft4 {
    grid-area: detail;
    display: flex;
    flex-direction: column;
  }
  
  .ft5 {
    grid-area: address;
  }
  .ft6 {
    grid-area: license;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  /**********mobile start************/
  .footer-container-mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .footer-contact-mob {
    text-align: center;
  }
  .footer-link-mob {
    display: flex;
  }
  .footer-link-mob > div {
    padding: 20px;
  }
  .footer-header-mob {
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: #dac99c 1px solid;
    text-align: center;
  }
  
  .footer-statement {  
    /* font-size: 12px; */
  }
  @media only screen and (max-width: 600px) {
    .footer p,
    .footer h5,
    .footer a {
      color: #dac99c;
      text-decoration: none;
      font-size: 12px;
    }
    .footer-statement {
      text-align: center;
    }
  }
  @media only screen and (max-width: 1212px) {
    .footer {
      height: fit-content;
      padding-bottom: 100px;
    }
    .footer-statement {
      text-align: center;
    }
  }
  