.video-react .video-react-control-bar{
  opacity: 0 !important;  
}

.home-section {
  width: 100%;
}

.section-space {
  height: 100px;
}

/* Section 1 */
.home-section1 {
  display: flex;
  flex-direction: column;
}

.big-gold-text {
  position: absolute;
  width: 42vw;
  top: 10rem;
  margin-left: 45rem;
}

.home-btn-service {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 45rem;
  right: 5rem;
}

.home-btn-service img {
  width: 150px;
  margin: 10px;

  cursor: pointer;
  box-shadow: 4px 1px 8px 5px #b9b9b9;
  transition: 0.3s ease-in-out;
}
.home-btn-service img:hover {
  box-shadow: 4px 1px 8px 5px #919191;
}

/*end*/

/*Section 2*/
.home-section2 {
  /* display: flex;
  justify-content: center; */
}

@media only screen and (max-width: 1920px)  {
.calculator-dot-bg
{
  position: absolute;
  width: 700px;
   left: 57vw;
}
}

@media only screen and (max-width: 1440px)  {
  .calculator-dot-bg
  {
    position: absolute;
    width: 700px;
    left: 45vw;
  }
  }
  

/* .home-section2-title span
{
  color: #9DD75E;
} */


.home-section2 > p
{
  position: absolute;
  left: 50%;
  margin-top: 50px;
  font-size: 50px;
  transform: translateX(-50%);
}

.home-section2-container
{
  display: flex;
  /* justify-content: center; */
  width: 100%;
  max-width: 1920px;
}

.home-section2-container-left
{
  margin-top: 7rem;
  /* display: inline-block; */
  width: 50vw;
}
.calculator-container {
  /* background-image: url(../images/home/home_calculator_background.png); */
  /* background-repeat: no-repeat;
  background-size: contain; */
  /* width: 77rem;
  height: 44rem;
  margin-top: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -13rem; */
}

@media only screen and (max-width: 1440px)  {

  .calculator {
    width: fit-content;
    /* margin-left: 70rem; */
    /* align-self: center; */
    margin-top: 220px;
    margin-left: 5rem;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1441px) {

  .calculator {
    width: fit-content;
    /* margin-left: 70rem; */
    /* align-self: center; */
    margin-top: 220px;
    margin-left: 15vw;
  }
  
}

@media only screen and (min-width: 1921px) {

  .calculator {
    width: fit-content;
    /* margin-left: 70rem; */
    /* align-self: center; */
    margin-top: 220px;
    margin-left: 15vw;
  }
  
}




.calculator {
  /* width: fit-content; */
  /* margin-left: 70rem; */
  /* align-self: center; */
  /* margin-top: 220px;
  margin-left: 20vw; */
}


.calculator-box {
  width: 69vw;
  height: 87vh;
  position: relative;
  z-index: 10;
}

.calculator-man {
  /* width: 33rem; */
  /* height: auto; */
  z-index: -1;
  max-width: 100%;
  /* position: absolute; */
  /* margin-left: 50rem; */
}

.calculator-dot-bg
{
  position: absolute;
  /* transform: rotate(180deg); */
  z-index: -1;
}

/*end*/

/* Section 3 */
.home-section3 {

}

.estimateForm-bg
{
  background-image:url(../images/applyform_bg.png) ;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.estimateForm-bg img
{
  position: absolute;    
  transform: scale(0.5);
  bottom:15rem;
  left: -8rem;
  }

.estimate-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 67vh;
}

.estimate-house {
  width: 719px;
  height: 641px;
  margin-right: 4.4vw;
}
/*end*/

@media only screen and (min-width: 1920px) {
  /* section 1 */

  .home-btn-service {
    margin-left: auto;
    margin-right: 238px;
  }
}

@media only screen and (min-width: 1290px) and (max-width: 1919px) {
  /* section 1 */

  /* section 3 */
  .estimate-house {
    width: 560px;
    height: 500px;
    margin-left: -28px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1290px) {
  .estimate-house {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .home-section2 {
    height: 128vh;
  }

  .estimate-house {
    display: none;
  }
  .home-btn-service {
    justify-content: center;
  }

  .home-btn-service img {
    width: 120px;
  }

  .home-banner1 img {
    display: none;
  }
  .calculator-box {
    width: 601px;
  }

  .home_banner_pic {
    width: 100%;
  }
  .home-section3 {
    margin-top: 50px;
  }
}

/* section 4*/
.home-section4-container
{
  display: flex;
  flex-direction: row;
  /* height: 80vh; */
  height: 40rem;
  padding-top: 3rem;
}

.home-section4-container-left
{
  width: 50%;
  text-align-last: center;
  height: 100%;
}

.home-section4-container-left h1{
  color: #9DD75E !important;
  margin-bottom: 30px;
}

.home-section4-container-left h3
{
  margin-left: -60px;
  font-weight: 400;
  font-size: 25px;
}

.home-section4-container-left p
{
  font-weight: 400;
  margin-right: -140px;
  margin-bottom: 20px;
}

.home-section4-container-left h2
{
  color: black;
}

.home-section4-container-left h2 span
{
  color: #9DD75E !important;
}

.home-section4-container-left-description
{
  margin-bottom: 70px;
}

.home-section4-container-left-description > h1
{
  /* font-family: "pingfangBold" !important; */
  color: #9DD75E;
  font: normal normal 600 66px/92px ;
  font-weight: bold;
 
  opacity: 1;
  letter-spacing: 0px;
}


@media only screen and (max-width: 1920px)  {

  .home-section4-container-right img {
    transform: scale(0.8);
    position: absolute;
    top: -1rem;
  }

}

@media only screen and (max-width: 1440px)  {

  .home-section4-container-right img {
    transform: scale(0.6);
    position: absolute;
    margin-left: -15rem;
    top: -5rem;
  }
}






.home-section4-container-right
{
  display: flex;
  width: 50%;
  height: 100%;
  position: relative;
}

/*Section 5*/
.section5_main_bg
{
  background-image: url("../images/green_bg.png");

  height: 40rem;
  background-repeat: no-repeat;
  background-size:50%;
  background-position: center 0;
}

.home-section5-container
{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.section5-tab-row
{
  display: flex;
  align-items: center;
  width: 100%;
  place-content: center;
}

.section5-tab
{
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  /* padding: 10px 20px; */
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  width: 250px;
  height: 50px;
  text-align: center
}

.section5-tab img
{
  transform: scale(0.7);
}


.section5-tab span
{
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  margin-left: 5px;
}

.section5-space
{
  width: 33px;
  height: 1px;
}

.section5-main
{
  display: flex
  flex;
}

.section5_main_bg
{
  background-image: url("../images/green_bg.png");

  height: 33rem;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: right 0;
}

/* @media only screen and (max-width: 1440px) {
  .section5-main-content
  {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: 15rem;
  }
} */


.section5-main-content
  {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: 20vw;
  }




.section5-main-img
{
  /* margin-right: 20px;
  transform: scale(70%); */
  width: 450px;
  height: 300px;
  margin-top: 3rem;
}

.section5-main-img img{
  
  width: 100%;
  height: 100%;

}

.section5-main-word
{
  margin-top: 50px;
  margin-left: 2rem;
  color: #444444;
}
.section5-main-word p{
  margin-top: 30px;
  width: 60vh;
  text-align: left;
}

.section5-main-btn
{
  display: flex;
  flex-direction: row;
}

.section5-main-btn img
{
  height: 20px;
    width: 35px;
  align-self: center;
  margin-right: 1rem;
}

.section5-main-btn p
{
  margin-top: 2rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .home-btn-service {
    flex-direction: column;
    align-items: center;
  }
  .calculator-box {
    width: 400px;
  }
}

@media only screen and (max-width: 1245px) {
  .big-gold-text {
    display: none;
  }
  .home-btn-service {
    position: unset;
    margin: 0;
  }
  .home-section1 {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 1340px) {
  .calculator-man {
    display: none;
  }
  .calculator-container {
    background-image: url(../images/home/home_cal_mobile.png);
    margin-left: 0;
    background-position-x: center;
  }
  .calculator {
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  .calculator-container {
    background-image: unset;
  }
}
