.caltor-header
{
  height: 50px;
}

.caltor-header > h3
{
  background-color: rgb(85, 179, 85);
  padding: 5px; 
  color: white;
}


.caltor-item {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;  
  margin-left: 50px;
  margin-right: 50px;
}

.caltor-item p {
  font-weight: bold;
}

.caltor-item .caltor-item-txtField
{
  text-align-last:center; 
  width: 150px;
  box-sizing: border-box;
}

.css-1y6szl1-MuiSlider-root 
{
  color: #29cb16c2 !important; 
}

.caltor-item .caltor-item-txtField-month
{
  text-align-last:center; 
  width: 50px;
}

.caltor-item .caltor-item-txtField .IA
{
  width:5px;  
}
.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root
{
  height: 40px;  
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root
{
  height: 40px;
}

.caltor-item p:nth-child(odd) {
  padding-right: 10rem;
  flex: 1;
}

.caltor-item p:nth-child(even) {
  flex: 1;
}

.cal-btn-save {
  background-color: #efdba9 !important;
  left: 58%;
}
.cal-btn-save:hover {
  background-color: #e2d1a5 !important;
}
.statement {
  font-size: 12px;
  margin-top: 20px;
}
.statement p {
  margin-bottom: 0;
}

.caltor-apply-container {
  display: flex;
  flex-direction: column;
}

.caltor-appy-btn {  
  display: flex;
  margin-top: 20px;
  justify-content: center;  
}

@media only screen and (min-width: 1920px) {
}

/* tablet */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {

  .caltor h3 {
    font-size: 20px;
  }
}

/* mobile */
@media only screen and (max-width: 991px) {
  .caltor-appy-btn img {
    width: 150px;
  }
}

@media only screen and (max-width: 991px) {
  .caltor-apply-container {
    width: 311px;
    align-items: center;
  }
  .caltor-item p:nth-child(odd) {
    padding: 0;
  }

  .print-white {
    max-width: 550px;
    background: white;
  }

  .css-u641c0 {
    width: 60vw !important;
  }
  .caltor-item {
    width: 80vw;
  }
  .caltor {
    background-color: #ffffff73;
    text-align: -webkit-center !important;
    text-align: center;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
