.home-container {
  height: 0;
}

.section1_bg {
  background-image: url("./images/home/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section1_container {
  position: relative;
  width: 100%;
  height: 65rem;
}

.section2_bg {
  background-image: url("./images/home/bg2.png");
  width: 100%;
  height: 79rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}
.section2_container {
  z-index: -1;
  position: relative;
  top: -14rem;
}

.section3_bg {
  background-image: url("./images/home/bg3.png");
  width: 100%;
  height: 79rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

.section_whychoose {
  height: fit-content;
}

@media only screen and (max-width: 991px) {
  .section1_bg {
    background-image: unset;
  }
}

@media only screen and (max-width: 1245px) {
  .section1_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
}

@media only screen and (max-width: 991px) {
  .section1_container {
    display: unset;
  }
}

@media only screen and (max-width: 600px) {
  .section2_container {
    top: -19rem;
  }
  .section_whychoose {
    margin-top: -17rem;
  }
}
