.square_container {
  width: 28rem;
  height: 25rem;
  background: #ffffff71;
  border-radius: 17px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.square_container div {
  color: #444444 !important;
}

.header {
  font-family: 'pingfangMedium' !important;
  color: #2b3223;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #939292;
  border-bottom: 2px solid #2b3223;
  padding-right: 5rem;
  margin-left: 1.5rem;
  width: 19rem;
}

.item_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 1.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 1rem;
}
.icon img {
  width: 4rem;
  height: 4rem;
}

.text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.text p {
  font-size: 0.9rem;
  font-weight: 600;
}
